{% extends 'paginate.html' %}

{% block content %}
<main class="user-grid">
    {% for user in user_list %}
    <div class="user-card">
        <h2 class="user-card-title">
            <a href="{% url 'user_recipes' user.pk %}">{{ user.name }}</a>
        </h2>
    </div>
    {% endfor %}
</main>
{% endblock content %}