{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
  </div>
  <h1>{{ mealplan.name }}</h1>
  <h3>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h3>
  <h2>Serve on: {{ mealplan.serve_date }}</h2>  
<div>
    <ul>
    {% for recipe in mealplan.recipes.all %}
        <li>
            <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
</main>
{% endblock content %}