{% extends 'paginate.html' %}


{% block content %}
<main class="recipe-grid">
  <div>
    <h5 class="nav-border">
      <a href="{% url 'meal_plans_create' %}">Create New Meal Plan</a> 
      {% comment %} Make this a working link to create.html {% endcomment %}
    </h5>
  </div>
  {% for mealplan in mealplan_list %}
  <div class="recipe-card">
  <h2 class="recipe-card-title">
    <a href="{% url 'meal_plans_detail' mealplan.id %}">{{ mealplan.name }}</a>
  </h2>
  </div>
  {% endfor %}
</main>
{% endblock content %}