@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 20px;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  background-color: orange;
  font-size: 18px;
}

footer {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  position: fixed;
  bottom: 5px;
  height: 50px;
  width: 99%;
  margin: center;
  color: white;
}

main {
  background-color: GhostWhite;
  padding: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

button.button {
  background-color: orange;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: orange;
  color: orange;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid orange;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
  justify-items: center;
  align-items: center;
}

.recipe-card {
  padding: 10px;
  border: 3px solid orange;
  background-color: white;
  text-align: center;
}


.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.rating-form-grid {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  align-items: center;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

.delete-form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.nav-border {
  background-color: whitesmoke;
  border: 3px solid lightblue;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;
}