{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li  class="nav-border">
                    <a href="{% url 'home' %}">SCRUMPTIOUS</a>
                </li>
                <li  class="nav-border">
                    <a href="{% url 'tags_list' %}">Tags</a>
                <li  class="nav-border">
                    <a href="{% url 'user_recipes' %}">User Recipes ({{ user.recipes.all|length }})</a>
                </li>
                {% if user.is_authenticated %}
                <li  class="nav-border">
                    <a href="{% url 'meal_plans_list' %}">Meal Plans</a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li  class="nav-border">
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li  class="nav-border">
                    <a href="{% url 'recipe_new' %}">Create A Recipe</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-border">
                    <a href="{% url 'shopping_item_list'%}">Shopping List</a>
                </li>
                <li  class="nav-border">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li  class="nav-border">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                
            </ul>
        </nav>
        {% block pagination %}
        {% endblock pagination %}
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <h5>
            Developed by Connor Swanson
        </h5>
        <h5>
            2022
        </h5>
    </footer>
</body>

</html>